<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test - Suite">
<test name="Coinsecure api">
<classes>
    <!--<class name="base.ExecuteTest" />-->
    <!--<class name="apiTestCases.apiTest" />-->
    <!--<class name="AccountActions.LoginInitiateApi" />-->
    <!--<class name="apiTestCases.loginToken" />-->
    <!--<class name="AccountActions.userProfilePhoneOtp" />-->
    <class name="ExchangeTradeData.exchangeBidPending" />
</classes>
</test>
</suite>